body {
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #dbe9f9;
  color: #2c3e50;
}

.container {
  text-align: center;
}

.container h1 {
  font-size: 36px;
  margin-bottom: 40px;
  color: #2c3e50;
}

.buttons {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.btn {
  padding: 18px 40px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  text-decoration: none;
  transition: 0.3s;
  color: white;
}

.admin-btn {
  background: #3498db;
}

.admin-btn:hover {
  background: #2980b9;
}

.store-btn {
  background: #27ae60;
}

.store-btn:hover {
  background: #1f8a4d;
}
